.banner {
  margin: 0 auto;
  border-radius: 12px;
  width: 100%;
}
.banner h1 {
  font-size: 95px;
  padding: 0.5em 0;
}
.socialLinks a {
  margin: 10px;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  gap: 16px; 
  padding: 16px;
}

.my-work-card {
  margin: 0;
  transition: 0.15s;
}
.my-work-card:hover{
  transform: scale(1.02);
}
.my-work-card {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 16px;
  text-align: center;
  background-color: #fff;
}

.my-work-card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.my-work-card-title {
  font-size: 1.7em;
  margin: 16px 0;
  color: #555;
  font-weight: 600;
}

.my-work-card-description {
  font-size: 1em;
  color: #555;
  padding: 0 16px;
  margin-bottom: 16px;
}
hr.solid {
  border-top: 3px solid #bbb;
  width: auto;
}
.tab {
  overflow: hidden;
}
.tab img {
  float: left;
  width: 48px;
  height: auto;
  border-radius: 50%;
}
.tab ul {
  list-style: none;
}
.tab li {
  float: right;
  background-color: inherit;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab li:hover {
  transform: scale(1.05);
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.home .services {
  margin: 50px 0;
}