.portfLink {
    color: white;
    float: right;
    font-size: 23px;
    margin-bottom: 15px;
    margin-right: 5px;
    transition: 0.75s;
    font-weight: 300;
}
.portfLink:hover {
    color: rgb(187, 186, 186);
    transform: scale(1.02);
}
.portfHr {
    border-top: 3px solid white;
    border-radius: 2px;
    width: 100%;
}
.projDiv h1 {
    text-align: center;
    margin: 60px auto;
}
.certDiv h1{
    text-align: center;
    margin: 60px auto;
}