.loginform {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.loginform h1 {
    text-align: center;
}
.loginform input .passwd {
    display: flex;
    align-content: center;
    justify-content: center;
}
.loginform .loginInst {
    font-size: 14px;
    font-weight: 300;
}
.loginform .loginInst:hover {
    text-decoration: underline;
    cursor: pointer;
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #241f31, #241f31, #7f4094, #9141ac);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #241f31, #241f31, #9141ac, #9141ac);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {

    }
  }